<!-- browser meta data -->
<base href="/">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

<!-- default meta data -->
<title> Plugin Inline Video </title>
<meta name="description" content="Plugin Inline Video">
<link rel="shortcut icon" href="src/assets/images/favicon.ico">