@font-face {
	font-family: "icons-plugin-inline-video";
	src: url('../assets/fonts/icons-plugin-inline-video.eot');
	src: url('../assets/fonts/icons-plugin-inline-video.eot?#iefix') format('eot'),
		url('../assets/fonts/icons-plugin-inline-video.woff') format('woff'),
		url('../assets/fonts/icons-plugin-inline-video.ttf') format('truetype'),
		url('../assets/fonts/icons-plugin-inline-video.svg#icons-plugin-inline-video') format('svg');
}

.inline-video__icon:before {
	font-family: "icons-plugin-inline-video";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
}


.inline-video__icon-pause:before {
	content: "\E001";
}

.inline-video__icon-play:before {
	content: "\E002";
}
