// -------------------------------------
//   Component - Inline Video
// -------------------------------------
/**
  * @name inline-video
  * @desc Styles for the inline video component.
**/

.inline-video {
	@extend %reset;

	position: relative;
	overflow: hidden;
	display: block;
	height: auto;
	width: 100%;
}

// -------------------------------------
//   Inline Video - layout
// -------------------------------------
.inline-video__layout {
	@extend %reset;

	position: relative;
	display: block;
	height: auto;
	width: 100%;
}

// -------------------------------------
//   Inline Video - Image
// -------------------------------------
.inline-video__image {
	@extend %reset;

	position: relative;
	display: block;
	height: auto;
	width: 100%;

	max-width: 100%;
	box-sizing: border-box;

	@extend %background-image;
	background-position: center;
	background-color: black;
	
	// to prevent alt text
	// from displayed while
	// the img is loaded
	color: transparent;

	// modifiers for switching of 
	// responsive images with css
	&--desktop, &--tablet, &--mobile { }

	// modifier - desktop
	&--desktop { 
		@include tablet {
			display: none !important;
			background-image: none !important;
		}
	}

	// modifier - tablet
	&--tablet { 
		@include tablet-up {
			display: none !important;
			background-image: none !important;
		}

		@include mobile {
			display: none !important;
			background-image: none !important;
		}
	}
	
	// modifier - mobile
	&--mobile { 
		background-size: contain;

		@include mobile-up {
			display: none !important;
			background-image: none !important;
		}
	}
}

// -------------------------------------
//   Inline Video - Video, Canvas & Gif
// -------------------------------------
.inline-video__video,
.inline-video__canvas,
.inline-video__gif {
	@extend %reset;

	position: absolute;
	display: block;
	height: auto;
	width: 100%;

	@extend %transform-center;
	@extend %background-image;
	background-position: center;
	background-color: transparent;

	@include mobile {
		width: auto;
		height: 100%;
		background-size: contain;
	}
}